* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.container {
    /* max-width: 1080px;
    min-height: 800px; */
}

.home-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-gap: 10px;
    grid-template-rows: 2fr 1fr 3fr;
    grid-template-areas: 
    "banner"
    "left-gap-panel"
    "title-box"
    "home-box"
    "right-gap-panel"
    "footer"
}

.home-grid .banner {
  grid-area: banner;
  grid-column: 1 / -1;
  min-height: 140px;
  grid-row: 1 / 3;
  background-color: green;
}

.home-grid .title-box {
    grid-area: title-box;
    grid-column: 1 / -1;
    min-height: 100px;
    grid-row: 2 / 3;
    background-color: peachpuff;
  }

.home-grid .home-box {
  border-radius: 3px;
  background-color: #264653;
  padding: 0.2em;
  color: #fff;
  font-weight: normal;
}

.home-grid .footer {
    grid-area: "footer";
    grid-column: 1 / -1;
    min-height: 100px;
    background-color: aquamarine;
}